<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297766130098-hjpcl4oa4njgv28a96hk130aqghlocr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297766130098-hjpcl4oa4njgv28a96hk130aqghlocr8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297766130098-uqasumdncq794jgf2lt6u22067sgvih0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXSquhnClOj1ou-G0phsZ-rr3AzvdhX3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>297766130098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oreo.rnlab.io</string>
	<key>PROJECT_ID</key>
	<string>oreo-240808</string>
	<key>STORAGE_BUCKET</key>
	<string>oreo-240808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297766130098:ios:93d5d026707117c73fd4ab</string>
	<key>DATABASE_URL</key>
	<string>https://oreo-240808.firebaseio.com</string>
</dict>
</plist>